<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/static/seller/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/seller/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">用户注册</h1>
                        </div>
                        <form class="user" action="/seller/register/" method="post" enctype="multipart/form-data"
                              novalidate>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-11 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="username"
                                           id="exampleFirstName" placeholder="用户名"
                                           value="{{ sellerform.username.value|default:'' }}"/>
                                    <span style="color: red">{{ sellerform.username.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-11">
                                    <input type="password" class="form-control form-control-user" name="password"
                                           id="exampleLastName" placeholder="密码">
                                    <span style="color: red">{{ sellerform.password.errors.0 }}</span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-11 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user" name="email"
                                           id="exampleInputEmail" placeholder="邮件"
                                           value="{{ sellerform.email.value|default:'' }}">
                                    <span style="color: red">{{ sellerform.email.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-11">
                                    <input type="text" class="form-control form-control-user" name="phone"
                                           id="phone" placeholder="电话" value="{{ sellerform.phone.value|default:'' }}">
                                    <span style="color: red">{{ sellerform.phone.errors.0 }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-11">
                                    <input type="text" class="form-control form-control-user" name="address"
                                           id="address" value="{{ sellerform.address.value|default:'' }}"
                                           placeholder="用户地址">
                                    <span style="color: red">{{ sellerform.address.errors.0 }}</span>
                                </div>
                            </div>


                            <div class="form-group">

                                <label for="">
                                    &nbsp;&nbsp;&nbsp;性&nbsp;&nbsp;&nbsp;别：
                                    <input type="radio" name="gender" id="man" value="True" checked>男
                                    <input type="radio" name="gender" id="feman" value="False">女
                                </label>

                            </div>
                            <div class="form-group">
                                <label for="">
                                    &nbsp;&nbsp;&nbsp;上传头像：
                                    <input type="file" id="touxiang" name="headimg">
                                </label>
                                <div style="color: red">{{ sellerform.headimg.errors.0 }}</div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-11">
                                    <input type="submit" value="注册" class="btn btn-primary btn-user btn-block"/>
                                </div>
                            </div>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/seller/login/">已有用户,登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/seller/vendor/jquery/jquery.min.js"></script>
<script src="/static/seller/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/seller/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/seller/js/sb-admin-2.min.js"></script>
</body>

</html>
