{% extends 'base.html' %}
{% block main %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">个人中心-编辑</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


            <div class="row">
                <div class="col-lg-12">


                    <div class="row">
                        <p></p>
                        <form method="post" action="/edit_person/" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{{ person_obj.id }}">
                            <div class="form-group">
                                <label class="control-label">用户名：</label>
                                <input class="form-control" type="text" name="username" value="{{ person_obj.name }}">
                                <label class="text-primary username_error"></label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">工号：</label>
                                <input class="form-control" readonly type="text" name="jobnum"
                                       value="{{ person_obj.jobnum }}">
                                <label class="text-primary password_error"></label>
                            </div>

                            <div class="form-group">
                                <label class="control-label">昵称：</label>
                                <input class="form-control" type="text" name="nickname"
                                       value="{{ person_obj.nickname |default(person_obj.name,true) }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">性别：</label>
                                <select class="form-control" name="gender">
                                    {% if person_obj.gender=='男' %}
                                        <option value="女">女</option>
                                        <option selected value="男">男</option>
                                    {% else %}
                                        <option selected value="女">女</option>
                                        <option value="男">男</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">年龄：</label>
                                <input class="form-control" type="number" name="age" value="{{ person_obj.age }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">电话：</label>
                                <input class="form-control" type="text" name="phone"
                                       value="{{ person_obj.phone|default('',true) }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">邮箱：</label>
                                <input class="form-control" type="text" name="email"
                                       value="{{ person_obj.email|default('',true) }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">头像：</label>
                                <input type="file" name="photo">
                            </div>
                            <div class="form-group">
                                <label class="control-label">地址：</label>
                                <textarea class="form-control"
                                          name="address">{{ person_obj.address|default('',true) }}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">职位：</label>
                                <select class="form-control" name="position_id">
                                    {% for position_obj in position_obj_list %}
                                        {% if position_obj.name ==  person_obj.position.name %}
                                            <option selected
                                                    value="{{ position_obj.id }}">{{ position_obj.name }}</option>
                                        {% else %}
                                            <option value="{{ position_obj.id }}">{{ position_obj.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}