<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高血压患病率数据分析报告页面</title>
</head>
<body>
    <center><h1>高血压患病率数据分析报告</h1></center>
    <h3>一、数据分析的目的</h3>
    <p>本数据来自于某小区的相关数据调研，旨在对本公司降压产品在该小区的市场进行有针对性的分析，便于营销部对小区内的营销进行战略性意见的制定。</p>
    <h3>二、数据分析的数据来源</h3>
    <p>数据来自于小区的调研结果，相关数据真实性和数据的有效性由相关调研部门来解释说明。</p>
    <h3>三、数据分析的过程</h3>
    <p>先进行的高血压患病率的分析，是对小区内的高血压患者进行一个统计。</p>
    <p>先求出一个高血压患病人测试的总人群，再求出患病人数的多少，最后求比率。</p>
    <p>把最终高血压患病的分析结果饼图如下：</p>
    {{ page|safe }}
    <h3>四、数据分析的结论</h3>
    <p>小区的患病率是23%，可以约占1/4，从数据上看患病率还是瞒高，公司的产品可以针对于这个小区进行营销性的拓展。</p>
    <p align="right">数据分析报告人：XXXXXX</p>
    <p align="right">数据分析责任人：XXXXX</p>
</body>
</html>