<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/jquery.mobile.min.css">
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery.mobile.min.js"></script>
</head>
<body>
    <div data-role="header" data-theme="b" data-position="fixed">
        <a href="">返回</a>
        <h3>高血压项目</h3>
    </div>
    <div data-role="content">
        <form method="post" action="/user/">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    姓名
                </div>
                <div class="ui-block-b">
                    <input type="text" name="username"/>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    性别
                </div>
                <div class="ui-block-b">
                    <div data-role="controlgroup" data-type="horizontal">
                        <label>
                            <input type="radio" name="sex" value="1"/>男
                        </label>
                        <label>
                            <input type="radio" name="sex" value="0"/>女
                        </label>
                    </div>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    身高
                </div>
                <div class="ui-block-b">
                    <input type="text" name="tall"/>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    体重
                </div>
                <div class="ui-block-b">
                    <input type="text" name="weight"/>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    是否吸烟
                </div>
                <div class="ui-block-b">
                    <div data-role="controlgroup" data-type="horizontal">
                        <label>
                            <input type="radio" name="smoke" value="1"/>吸烟
                        </label>
                        <label>
                            <input type="radio" name="smoke" value="0"/>不吸烟
                        </label>
                    </div>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    是否饮酒
                </div>
                <div class="ui-block-b">
                    <div data-role="controlgroup" data-type="horizontal">
                        <label>
                            <input type="radio" name="drink" value="1"/>喝酒
                        </label>
                        <label>
                            <input type="radio" name="drink" value="0"/>不喝酒
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit">提交</button>
        </form>
    </div>
    <div data-role="footer" data-theme="b" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#" data-icon="home">首页</a></li>
                <li><a href="#" data-icon="star">推送</a></li>
                <li><a href="#" data-icon="gear">设置</a></li>
                <li><a href="#" data-icon="info">我的</a></li>
            </ul>
        </div>
    </div>
</body>
</html>