<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人脸识别</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <style>
        video, canvas {
            border: 2px solid red;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<!--<video  width="300" height="300" id="myvideo"></video>
    <canvas width="300" height="300" id="canvas"></canvas><br/>-->
<video id="myvideo"></video>
<canvas id="canvas" width="300" height="300"></canvas><br/>
<button onclick="open_camera()">打开摄像头</button>
<button onclick="catch_camera()">拍照</button>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="img">
    <input type="submit">
</form>
<script>
    myvideo = document.getElementById("myvideo");

    function open_camera() {

        /*指定外部摄像头设备的宽和高*/
        /*外部设备分为视频video或者是音频audio*/
        cons = {
            video: {
                width: 300,
                height: 300
            }
        };
        cameras = navigator.mediaDevices.getUserMedia(cons);
        /*一般情况下,then方法里面都是函数,参数就是摄像头中的内容*/
        cameras.then(function (stream) {
            myvideo.srcObject = stream;
            myvideo.play();
        })
    }

    function catch_camera() {
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        ctx.drawImage(myvideo, 0, 0, 300, 300);
        datas = canvas.toDataURL();
        console.log(datas);
        $.post({
            url: '/11',
            type: 'post',
            data: {'image': datas},
            success: function (res) {
                console.log(res)
            }
        })


    }
</script>

</body>
</html>