<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改地址</title>
    <!--引用-->
    <script src="/static/buyer/js/jquery.min.js"></script>
    <script src="/static/buyer/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/buyer/css/bootstrap.css">
    <style>

        /*1.搜索部分*/
        .search_bar {
            margin-top: 15px;
            /*margin-right: 1px;*/
        }


        .search span {
            font-size: 18px;
            font-weight: 500;
            font-family: "Microsoft Yahei";
            vertical-align: middle;
        }


        /*3.*/
        .main {
            margin-top: 20px;
        }
    </style>

</head>
<body>
<!--1.导航开始-->
{% include 'buyer/nav.html' %}
<!--导航结束-->
<div class="container">


    <div class="main">
        <div id="allorders">
            <div class="panel panel-default col-lg-6 col-lg-offset-3">
                <div class="panel-heading">修改用户地址</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/buyer/update_address/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ address_obj.id }}">
                        <div class="form-group">
                            <label for="shoujianren" class="col-sm-2 control-label">收件人</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" value="{{ address_obj.name }}" class="form-control"
                                       id="shoujianren" placeholder="收件人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="xiangxiaddress" class="col-sm-2 control-label">详细地址</label>
                            <div class="col-sm-10">
                                    <textarea class="form-control" name="detail" placeholder="详细地址" id="xiangxiaddress"
                                              rows="3">{{ address_obj.detail }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youbian" class="col-sm-2 control-label">邮编</label>
                            <div class="col-sm-10">
                                <input type="text" name="youbian" value="{{ address_obj.youbian }}" class="form-control"
                                       id="youbian" placeholder="邮政编码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="youbian" class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-10">
                                <input type="text" name="phone" value="{{ address_obj.phone }}" class="form-control"
                                       id="phone" placeholder="手机号">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default col-lg-4 col-lg-offset-4">&nbsp;&nbsp;提&nbsp;交&nbsp;&nbsp;
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>
<!--4.footer部分-->
{% include 'buyer/footer.html' %}
</body>
</html>