<style>

    /*2.脚部分*/
    .footer {
        border-top: 2px solid #42ad46;
        margin: 30px 0;
    }

    .foot_link {
        text-align: center;
        margin-top: 30px;
    }

    .foot_link a, .foot_link span {
        color: #4e4e4e;
    }

    .foot_link a:hover {
        color: #ff8800
    }

    .foot_link span {
        padding: 0 10px
    }

    .footer p {
        text-align: center;
        margin-top: 10px;
    }
</style>

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>