<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天生鲜——首页</title>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/bootstrap.js"></script>
    <style>
        .makepos{
            padding-top:20px;
        }
        .makecart{
            padding-top:10px;
        }
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            background-color:#5cb85c;
            border-color:#4cae4c;
        }
        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
            line-height: 1;
            height: 300px;
        }
        .mypic{
            width:100%;
            height:150px;
        }
        .breadcrumb {
            background-color: white;
        }
        hr{
            border-width:2px;
            border-color:green;
        }
        .tab-right{
            z-index:99;
            position:absolute;
            height:346px;
            left:200px;
            background:white;
            box-shadow:3px 3px 2px #888888;
            border:1px solid #cccccc;
        }
        .smallpic{
            width:100px;
            height:100px;
        }
        .smallfont{
            font-size:14px;
        }
        .red{
            color:red;
        }
        .space{
            height:20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <!-- Brand and to-only">Toggle navigation</span>
            <span class="icon-bggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">欢迎来到天天生鲜</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">用户中心</a></li>
            <li><a href="#">我的购物车</a></li>
            <li><a href="#">我的订单</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <header class="container">
        <div class="col-xs-12 col-sm-3">
            <img src="images/logo.png"/>
        </div>
        <div class="col-xs-12 col-sm-6 makepos">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索商品">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-success pull-right" type="button">
                <img src="images/cart.png"/>我的购物车 <span class="badge">4</span>
            </button>
        </div>
    </header>
    <menu class="container">
        <div class="col-xs-12 col-sm-2"  >
            <ul class="list-group" id="shopping">
              <li class="list-group-item active">全部商品分类</li>
              <li class="list-group-item" ><a href="#fruit" data-toggle="tab"><img src="images/fruit.png"/>新鲜水果&nbsp;&nbsp;></a></li>
              <li class="list-group-item"><a href="#haixian"><img src="images/haixian.png"/>海鲜水产&nbsp;&nbsp;></a></li>
              <li class="list-group-item"><a href="#pig"><img src="images/pig.png"/>猪牛羊肉&nbsp;&nbsp;></a></li>
              <li class="list-group-item"><a href="#egg"><img src="images/egg.png"/>禽类蛋品&nbsp;&nbsp;></a></li>
              <li class="list-group-item"><a href="#vegetable"><img src="images/vegetable.png"/>新鲜蔬菜&nbsp;&nbsp;></a></li>
              <li class="list-group-item"><a href="#frozen"><img src="images/frozen.png"/>速冻食品&nbsp;&nbsp;></a></li>
            </ul>
        </div>
        <div class="col-offset-2 col-xs-12 col-sm-7 tab-right">
            <div class="tab-content" id="tab1">
                <div role="tabpanel" class="tab-pane" id="fruit">
                    <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>草霉<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">丹东草霉</div>
                        <div class="col-xs-3 red">大兴草霉</div>
                        <div class="col-xs-3">日本草霉</div>
                        <div class="col-xs-3">韩国草霉</div>
                        <div class="col-xs-3">泰国草霉</div>
                        <div class="col-xs-3 red">奶油草霉</div>
                        <div class="col-xs-3">柬埔寨草霉</div>
                        <div class="col-xs-3 red">越南草霉</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>桃<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">水蜜桃</div>
                        <div class="col-xs-3 red">雪桃</div>
                        <div class="col-xs-3 red" >黄肉桃</div>
                        <div class="col-xs-3">油桃</div>
                        <div class="col-xs-3">蟠桃</div>
                        <div class="col-xs-3">血桃</div>
                        <div class="col-xs-3 red">日本桃</div>
                        <div class="col-xs-3">韩国桃</div>
                        <div class="col-xs-3">泰国桃</div>
                        <div class="col-xs-3">柬埔寨桃</div>
                        <div class="col-xs-3">越南桃</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods002.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods001.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="haixian">
                     <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>虾<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">澳州大虾</div>
                        <div class="col-xs-3 red">澳州对虾</div>
                        <div class="col-xs-3">澳州肉虾</div>
                        <div class="col-xs-3">澳州青虾</div>
                        <div class="col-xs-3">澳州黄虾</div>
                        <div class="col-xs-3 red">澳州明虾</div>
                        <div class="col-xs-3">青岛大虾</div>
                        <div class="col-xs-3 red">青岛对虾</div>
                        <div class="col-xs-3 red">青岛肉虾</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>鱼<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">秋刀鱼</div>
                        <div class="col-xs-3 red">鲤鱼</div>
                        <div class="col-xs-3 red" >青鱼</div>
                        <div class="col-xs-3">草鱼</div>
                        <div class="col-xs-3">鲢鱼</div>
                        <div class="col-xs-3">鲫鱼</div>
                        <div class="col-xs-3 red">大口鲈鱼</div>
                        <div class="col-xs-3">加州鲈鱼</div>
                        <div class="col-xs-3">胖头鱼</div>
                        <div class="col-xs-3">武昌鱼</div>
                        <div class="col-xs-3">尼罗河鲈鱼</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods018.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods019.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="pig">
                     <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>猪肉<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">里脊肉</div>
                        <div class="col-xs-3 red">臀尖肉</div>
                        <div class="col-xs-3">五花肉</div>
                        <div class="col-xs-3">坐臀肉</div>
                        <div class="col-xs-3">夹心肉</div>
                        <div class="col-xs-3 red">前腿肉</div>
                        <div class="col-xs-3">后腿肉</div>
                        <div class="col-xs-3 red">血脖肉</div>
                        <div class="col-xs-3 red">前肘肉</div>
                        <div class="col-xs-3 red">后肘肉</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>牛肉<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">肥牛</div>
                        <div class="col-xs-3 red">里脊</div>
                        <div class="col-xs-3 red" >腹肉</div>
                        <div class="col-xs-3">带油臀肉</div>
                        <div class="col-xs-3">牛仔骨</div>
                        <div class="col-xs-3">臀肉</div>
                        <div class="col-xs-3 red">牛腱子</div>
                        <div class="col-xs-3">牛前展</div>
                        <div class="col-xs-3">牛后展</div>
                        <div class="col-xs-3">胸叉肉</div>
                        <div class="col-xs-3">牛腩</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods023.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods025.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="egg">
                     <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>鸡蛋<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">有机蛋</div>
                        <div class="col-xs-3 red">绿色蛋</div>
                        <div class="col-xs-3">无公害蛋</div>
                        <div class="col-xs-3">土鸡蛋</div>
                        <div class="col-xs-3">柴鸡蛋</div>
                        <div class="col-xs-3 red">海鲜蛋</div>
                        <div class="col-xs-3">富硒蛋</div>
                        <div class="col-xs-3 red">富铁蛋</div>
                        <div class="col-xs-3 red">初产蛋</div>
                        <div class="col-xs-3 red">粉壳蛋</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>鸭蛋<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">高邮鸭蛋</div>
                        <div class="col-xs-3 red">三湖鸭蛋</div>
                        <div class="col-xs-3 red" >海鸭蛋</div>
                        <div class="col-xs-3">九珠鸭蛋</div>
                        <div class="col-xs-3">梅香鸭蛋</div>
                        <div class="col-xs-3">洪门鸭蛋</div>
                        <div class="col-xs-3 red">洪湖鸭蛋</div>
                        <div class="col-xs-3">全聚德鸭蛋</div>
                        <div class="col-xs-3">白洋淀鸭蛋</div>
                        <div class="col-xs-3">微山湖鸭蛋</div>
                        <div class="col-xs-3">光阳鸭蛋</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods028.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods030.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="vegetable">
                     <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>时令蔬菜<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">芹菜</div>
                        <div class="col-xs-3 red">胡萝卜</div>
                        <div class="col-xs-3">玉米</div>
                        <div class="col-xs-3">白萝卜</div>
                        <div class="col-xs-3">冬瓜</div>
                        <div class="col-xs-3 red">油菜</div>
                        <div class="col-xs-3">菠菜</div>
                        <div class="col-xs-3 red">韭菜</div>
                        <div class="col-xs-3 red">萝卜</div>
                        <div class="col-xs-3 red">山药</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>有机蔬菜<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">芹菜</div>
                        <div class="col-xs-3 red">胡萝卜</div>
                        <div class="col-xs-3">玉米</div>
                        <div class="col-xs-3">白萝卜</div>
                        <div class="col-xs-3">冬瓜</div>
                        <div class="col-xs-3 red">油菜</div>
                        <div class="col-xs-3">菠菜</div>
                        <div class="col-xs-3 red">韭菜</div>
                        <div class="col-xs-3 red">萝卜</div>
                        <div class="col-xs-3 red">山药</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods034.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods036.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="frozen">
                     <div class="col-xs-12 col-sm-8">
                        <div class="col-xs-12"><h4>速冻水饺<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">素三鲜</div>
                        <div class="col-xs-3 red">羊肉胡萝卜</div>
                        <div class="col-xs-3">韭菜鸡蛋</div>
                        <div class="col-xs-3">韭菜猪肉</div>
                        <div class="col-xs-3">芹菜猪肉</div>
                        <div class="col-xs-3 red">香菜猪肉</div>
                        <div class="col-xs-3">白菜猪肉</div>
                        <div class="col-xs-3 red">牛肉香菜</div>
                        <div class="col-xs-3 red">牛肉芹菜</div>
                        <div class="col-xs-3 red">韭菜鲜虾</div>
                        <div class="col-xs-12 space"></div>
                        <div class="col-xs-12"><h4>雪糕<span class="pull-right smallfont">更多</span></h4></div>
                        <div class="col-xs-3 red">草莓雪糕</div>
                        <div class="col-xs-3 red">香蕉雪糕</div>
                        <div class="col-xs-3 red" >苹果雪糕 </div>
                        <div class="col-xs-3">鸭梨雪糕</div>
                        <div class="col-xs-3">咖啡雪糕</div>
                        <div class="col-xs-3">布丁雪糕</div>
                        <div class="col-xs-3 red">四个圈</div>
                        <div class="col-xs-3">山楂冰</div>
                        <div class="col-xs-3">草霉冰</div>
                        <div class="col-xs-3">哈根达斯</div>
                        <div class="col-xs-3">伊利奶冰</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4 class="text-center">猜你喜欢</h4>
                        <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods038.jpg" class="smallpic">
                             </a>
                        </div>
                         <div class="col-xs-12">
                             <a href="#" class="thumbnail">
                                <img src="images/goods/goods040.jpg" class="smallpic">
                             </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="col-xs-12 col-sm-10">
           <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">首页</a></li>
              <li role="presentation"><a href="#">手机生鲜</a></li>
              <li role="presentation"><a href="#">抽奖</a></li>
            </ul>
            <div class="col-xs-12 col-sm-9">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                      </ol>
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img src="images/slide.jpg">
                        </div>
                        <div class="item">
                          <img src="images/slide02.jpg" >
                        </div>
                        <div class="item">
                          <img src="images/slide03.jpg" >
                        </div>
                        <div class="item">
                          <img src="images/slide04.jpg" >
                        </div>
                      </div>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="images/adv01.jpg" class="mypic"/>
                <img src="images/adv02.jpg" class="mypic"/>
            </div>
        </div>
    </menu>
    <section class="container" >
        <div class="panel panel-success">
          <div class="panel-heading">新鲜水果<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner01.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">草霉</p><br/>
                        <img src="images/goods/goods003.jpg" class="img-responsive">
                        <p class="text-center">¥30.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">奇异果</p><br/>
                        <img src="images/goods/goods012.jpg">
                        <p class="text-center">¥25.80元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">柠檬</p><br/>
                        <img src="images/goods/goods001.jpg">
                        <p class="text-center">¥3.90元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">奇异果</p><br/>
                        <img src="images/goods/goods012.jpg">
                        <p class="text-center">¥25.80元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">桃</p><br/>
                        <img src="images/goods/goods005.jpg">
                        <p class="text-center">¥25.80元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
    <section class="container">
        <div class="panel panel-success">
          <div class="panel-heading">海鲜水产<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner02.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">青岛野生海捕大青虾</p><br/>
                        <img src="images/goods/goods018.jpg" class="img-responsive">
                        <p class="text-center">¥48.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">扇贝</p><br/>
                        <img src="images/goods/goods019.jpg" class="img-responsive">
                        <p class="text-center">¥46.00元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">冷冻秋刀鱼</p><br/>
                        <img src="images/goods/goods020.jpg">
                        <p class="text-center">¥19.00元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">基围虾</p><br/>
                        <img src="images/goods/goods021.jpg">
                        <p class="text-center">¥25.00元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">洞庭湖帝王蟹</p><br/>
                        <img src="images/goods/goods022.jpg">
                        <p class="text-center">¥52.80元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
    <section class="container">
        <div class="panel panel-success">
          <div class="panel-heading">猪牛羊肉<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner03.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">猪脚</p><br/>
                        <img src="images/goods/goods023.jpg" class="img-responsive">
                        <p class="text-center">¥37.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">鸡肉</p><br/>
                        <img src="images/goods/goods024.jpg" class="img-responsive">
                        <p class="text-center">¥25.00元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">猪肉</p><br/>
                        <img src="images/goods/goods025.jpg">
                        <p class="text-center">¥37.00元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">牛肉</p><br/>
                        <img src="images/goods/goods026.jpg">
                        <p class="text-center">¥52.00元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">新西兰羔羊肉</p><br/>
                        <img src="images/goods/goods027.jpg">
                        <p class="text-center">¥79.00元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
<section class="container">
        <div class="panel panel-success">
          <div class="panel-heading">禽类蛋品<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner04.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">柴鸡蛋</p><br/>
                        <img src="images/goods/goods028.jpg" class="img-responsive">
                        <p class="text-center">¥18.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">鹌鹑蛋</p><br/>
                        <img src="images/goods/goods029.jpg" class="img-responsive">
                        <p class="text-center">¥13.00元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">咸鸭蛋</p><br/>
                        <img src="images/goods/goods030.jpg">
                        <p class="text-center">¥30.00元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">毛鸡蛋</p><br/>
                        <img src="images/goods/goods031.jpg">
                        <p class="text-center">¥20.00元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">鹅蛋</p><br/>
                        <img src="images/goods/goods032.jpg">
                        <p class="text-center">¥18.50元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
<section class="container" >
        <div class="panel panel-success">
          <div class="panel-heading">新鲜蔬菜<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner05.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">黄瓜</p><br/>
                        <img src="images/goods/goods033.jpg" class="img-responsive">
                        <p class="text-center">¥6.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">西红柿</p><br/>
                        <img src="images/goods/goods034.jpg" class="img-responsive">
                        <p class="text-center">¥5.50元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">茄子</p><br/>
                        <img src="images/goods/goods035.jpg">
                        <p class="text-center">¥8.00元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">扁豆</p><br/>
                        <img src="images/goods/goods036.jpg">
                        <p class="text-center">¥15.00元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">蒜台</p><br/>
                        <img src="images/goods/goods037.jpg">
                        <p class="text-center">¥25.00元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
    <section class="container">
        <div class="panel panel-success">
          <div class="panel-heading">速冻食品<div class="pull-right">查看更多...</div></div>
          <div class="panel-body">
              <div class="col-xs-12 col-sm-2">
                  <img src="images/banner06.jpg"  class="img-responsive">
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">冰激凌</p><br/>
                        <img src="images/goods/goods038.jpg" class="img-responsive">
                        <p class="text-center">¥8.00元</p>
                  </a>
              </div>
               <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">雪糕</p><br/>
                        <img src="images/goods/goods039.jpg" class="img-responsive">
                        <p class="text-center">¥2.50元</p>
                  </a>
             </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">速冻水饺</p><br/>
                        <img src="images/goods/goods040.jpg">
                        <p class="text-center">¥13.50元</p>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">速冻汤圆</p><br/>
                        <img src="images/goods/goods041.jpg">
                        <p class="text-center">15.00元</p>
                  </a>
             </div>
             <div class="col-xs-12 col-sm-2">
                  <a href="#" class="thumbnail">
                        <p class="text-center">老冰棍</p><br/>
                        <img src="images/goods/goods042.jpg">
                        <p class="text-center">¥0.50元</p>
                  </a>
             </div>
          </div>
        </div>
    </section>
     <hr></hr>
    <footer>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <ol class="breadcrumb container">
              <li>关于我们</li>
              <li>联系我们</li>
              <li class="active">招聘人才</li>
              <li>友情链接</li>
            </ol>
            <p class="container">
                CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved
            </p>
            <p class="container">
               电话：010-****888 京ICP备*******8号
            </p>
        </div>


    </footer>
    <script>

        $(function(){
            $("#tab1").parent().hide();
            $("#shopping>li").hover(function(){
                $("#shopping>li").removeClass("active");
                $("#tab1>div").removeClass("in active");
                $(this).addClass("active");
                var href=$(this).children().attr("href");
                $(href).addClass("in active");
                var pos=$(this).offset().left+$(this).width()+32;
                var heights=$(this).parent().height()
                $(href).parent().parent().show()
                $(href).parent().parent().css({"left":pos+"px","padding-top":"50px","height":heights});
            },function(){

            })
            $("#tab1>div").hover(function(){

            },function(){
                $("#shopping>li").removeClass("active");
                $(this).removeClass("in active");
                $(this).parent().parent().hide()
            })


        })
    </script>
</body>
</html>